
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 10px;
}
body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F4F6F8;
  color: #1F2937;
}
html {
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}